
@{
    ViewData["Title"] = "NovaVenda";
}

<style>
    .header-table {
        color: #ffffffff;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        height: 10%;
        background: #3b96b9;
    }

    .selected {
        background: #b6b6b6 !important;
    }
</style>
<div class="col-12 p-0 m-0">
    <div class="header-table">
        <h5 class="p-2" id="title">Produtos</h5>
    </div>
    <div class=" float-right mt-1 ml-3 p-1 ">
        <button class="btn btn-danger" id="btnCancelar">Cancelar</button>
        <button class="btn btn-primary" id="btnSalvar">Salvar</button>
    </div>
    <div id="Adicionar" class="ml-4">


   
        <form>
        </form>
        <div class="row">
            <div class="container1 alert-dark col-8 p-3">
                <button class="add_form_field">
                    <i style="font-size:16px; font-weight:bold;">+ </i>
                </button>
                <select id="Produtoselect"></select>
                <select id="Produtoselecttamanho"></select>
            </div>

        </div>
        <div><h1>Teste</h1></div>

    </div>
</div>
@section scripts{
    <script src="~/js/Vendas/Venda/VendaPage.js" type="text/javascript"></script>
}
