@{
    ViewData["Title"] = "Login";

}
<style>
    .background-login {
        background: #ff0000;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .caixa-login {
        position: absolute;
        top: 30%;
        left: 30%;
        height: 40%;
        width: 40%;
        background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6));
        text-align: center;
        border-radius:5%;
    }

    body, html {
        overflow-y: hidden !important;
    }
  .caixa-login >  #filho-da-caixa{
       
        top:12%;
    }
</style>

<div class="text-center background-login">
    <div class=" caixa-login">
        <div id="filho-da-caixa">
            <h1 class="display-4">Login</h1>
            <form action="/Login/Login" id="form" class="form-group" method="post">
                <div class="col-form-label">
                    <label for="loginusr">Usuario:</label>
                    <input type="text" id="loginusr" placeholder="Usuario" name="Login" value="" />
                </div>
                <div class="col-form-label">

                    <label for="loginsenha">Senha:</label>
                    <input type="password" id="loginsenha" placeholder="Senha" name="Senha" value="" />
                </div>
                <button type="button" id="login" class="btn btn-success">Entrar</button>
            </form>
        </div>

    </div>
</div>
