@{
    ViewData["Title"] = "Login";

}
<style>


    .caixa-login {
        position: absolute;
        top: 30%;
        left: 30%;
        height: 40%;
        width: 40%;
        background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3));
        text-align: center;
        border-radius: 5%;
        padding:10%;
    }

    body, html {
        overflow-y: hidden !important;
    }

    .caixa-login > #filho-da-caixa {
        position: absolute;
        height: 100%;
        width: 100%;
        display: inline-block;
        top: 20%;
        left:0%;
    }
</style>

<div class="text-center background-login">
    <div class=" caixa-login">
        <div id="filho-da-caixa">
            <h1 class="display-4">Login</h1>
            <form action="/Login/Login" id="form" method="post">
                <div class="col-form-label">
                    <input type="text" id="loginusr" placeholder="Usuario" name="Login" value="" />
                </div>
                <div class="col-form-label">
                    <input type="password" id="loginsenha" placeholder="Senha" name="Senha" value="" />
                </div>
                <button type="button" id="login" class="btn btn-success">Entrar</button>
            </form>
        </div>

    </div>
</div>
