@{
    ViewData["Title"] = "Login";

}
<style>


    .caixa-login {
        position: absolute;
        display: flex;
        align-content: center;
        align-items: center;
        top: 30%;
        left: 30%;
        height: 50%;
        width: 40%;
        background-image: linear-gradient(rgba(250, 255, 255, 0.54), rgba(52, 152, 219, 0.84));
        text-align: center;
        border-radius: 5%;
        transition:all 1s ease-in-out;
    }

    body, html {
        overflow-y: hidden !important;
    }

    *{
        transition:all .3s ease-in-out;
        will-change:transition;
        will-change:auto;


    }
:placeholder{
    color:#dddddd;
            }
    .caixa-login > div > form > input {

        position:relative;
        left:0% !important;
        display:block;
        text-align: center;
        border: 2px solid #726185;
        margin:2% auto ;
        width: 50%;
        height: 8vh!important;
        background-color:rgba(255, 255, 255, 0.54);
        outline: none;
        font-weight:bolder;
        transition:all .2s ease-in-out;
    }
     .caixa-login > div > form > input[name="Login"]:focus{
         background:rgba(0, 0, 0, 0.28);
         width:80%;
         color:#ffffff;
         font-weight:bolder;
     }
     
     .caixa-login > div > form > input[name="Senha"]:focus{
         background:rgba(0, 0, 0, 0.28);
         color:#ffffff;
         width:80%;
         font-weight:bolder;
     }
     
     .caixa-login > div > form > input[type=button]{
        width: 30%;
        height: 7.5vh !important;
        background-color:rgba(52, 152, 219, 0.84);
        color:white;
        font-weight:bolder;
        transition:all .1s ease-in-out;


     }
      .caixa-login > div > form > input[type=button]:hover{
        background-color:#2977aa;
        width: 40%;

      }
      .caixa-login > div > form > input[type=button]:focus{
        background-color:#2977aa;
        width: 40%;

      }

    #box-input {
        margin-top:5vh;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .caixa-login.anim{
        position:relative;
        transform:translateY(-2000px);
    }

    .inputLogin {
        font-size: 4vh;
    }
    .login-logo{
        position:relative;
        height:90%;
        width:70%;
        margin-bottom:-10%;
        margin-top:-35%;
    }
</style>
<div class="text-center background-login">
    <div class=" caixa-login">
        <div id="box-input">
            <img src="~/img/lOGO/Logo_com_circulo.png" class="login-logo" alt="Alternate Text" />
            <form action="/Login/Login" id="form" method="post">

                <input class="inputLogin" type="text" id="loginusr" autocomplete="off"  placeholder="Usuario" name="Login" value="" />
                <input class="inputLogin" type="password" id="loginsenha" placeholder="Senha" name="Senha" value="" />
                <input class="inputLogin" type="button" id="login" value="Entrar" />
            </form>
        </div>

    </div>
</div>
