/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  height:100%;
  width:100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: 100%;
    width: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*MEU CSS+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Logout-canto{

    position: relative;
    /*left:990px;*/
}
/*LOader*/
.loader-page {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    text-align:center;
    z-index: 200;
    background: rgba(150, 150, 150, 0.33);
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 10px solid #575656; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 201;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.loader-page > p {
    position: absolute;
    top: 60%;
    left: 49%;
}


.bloqueado{
    opacity:0.8 !important;
    pointer-events:none !important;
    background:rgba(227, 227, 227, 0.79) !important;
}





.alinharCentroPai {
    text-align:center;

}

.alinharCentroFilho {
    display: inline-block;
}

.alinharCentroMargin {
    margin: 0 auto;
}

.erroNoInput {
    box-shadow: 0 0 10px 3px red;
}